# Coordonnées GPS pour l'application météo
WEATHER_LATITUDE=48.8566
WEATHER_LONGITUDE=2.3522

# Identifiants SOLISTAR
SOLISTAR_ID=votre-email@example.com
SOLISTAR_PASSWORD=votre-mot-de-passe

# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...