@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 28 97% 62%;
    --secondary: 202 65% 25%;
    --grey-dark: 202 0% 40%;
    --grey-medium: 202 0% 80%;
    --grey-light: 202 0% 90%;
    --grey-lighter: 202 0% 95%;
    --black: 202 68% 3%;
    --white: 0 0% 100%;
  }
}

@layer base {
  body {
    @apply bg-grey-lighter text-black;
  }

  .h1-like {
    @apply text-2xl lg:text-4xl font-bold;
  }
  .h2-like {
    @apply text-xl lg:text-3xl font-bold;
  }
  .h3-like {
    @apply text-lg lg:text-2xl font-bold;
  }
}
